img {
	max-width: 100%;
}

blockquote {
	margin-top: 0;
	margin-bottom: 8px;
	padding: 0 0.2em;
	color: #6a737d;
	border-left: .25em solid #dfe2e5;
}

blockquote>:first-child {
	margin-top: 0;
}

blockquote>:last-child {
	margin-bottom: 0;
}

body {
	padding: 10px;
}

p {
	padding: 0 2px;
}

pre {
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
	width: 100%;
	font-size: 85%;
	margin: 0 auto;
	margin-bottom: 16px;
	padding: .2em .4em;
	overflow: auto;
}

